body{       
    font-family: Arial, sans-serif;  
    background-color: #f2f2f2;
}

header {
    background-color: #f2f2f2;
    color: white;
    text-align: center;
}

nav,ul{
    list-style: none;
}

nav,ul,li {
    display: inline;
}
li {
    font-family: Arial, sans-serif;
    color: #f2f2f2;
}

#icon {
    margin-top: 15px;
    width:74%;
    border-color: #222d32; 
    border-style: dashed solid; 
    border-radius: 50%;
}
 #version{
    display:flex;
    justify-content: flex-end;
    align-items: flex-start;
 }